/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../../assets/Images/headerlines.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: center;
} */
.h_section{
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}
.container .text {
  margin: 2rem;
  text-align: left;
  cursor: default;
}
.container .text h1{
  color: #D9D9D9;
  object-fit: contain;
}
.container .container .text h2{
  margin-top: -2rem;
  text-align: left;
}
.container .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  z-index: 1;
  transform-style: preserve-3d;
  animation: rotateAnimation 10s infinite linear;
}
.container .image img {
  width: 100%;
  object-fit: cover;
  transform: rotateY(-15deg);
  backface-visibility: hidden;
  filter: drop-shadow(0 0 15px #D9D9D9);
}
@keyframes rotateAnimation {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  50% {
    transform: perspective(1000px) rotateY(30deg);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg);
  }
}
.rotated_scroll {
  top: 90vh;
  right: 0;
  position: absolute;
  z-index: 1;
  width: 75px;
  display: flex;
}
.rotated {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--secondary);
  rotate: 90deg;
}