.nav_contianer{
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}
.nav_logo{
    width: 100px;
}
.nav_logo h1{
    width: 100px;
    font-size: 3rem;
    color: var(--secondary);
    font-family: var(--main);
    cursor: pointer;
}
.nav_logo img{
    width: 100%;
    object-fit: contain;
}
.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3;
}
.links a{
    font-size: 1.3rem;
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--secondary);
    margin-inline: 1.5rem;
    text-decoration: none;
    font-family: var(--sub);
}
.links a::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transition: all 0.6s ease;
}
.links a:hover::after{
    width: 100%;
}